<div class="row">
  <div class="col-7">
    <a href=""> <img src="../../../assets/Imagenes/Instagram.png" alt="instagram" class="redessociales" /></a>
    <a href=""><img src="../../../assets/Imagenes/Facebook.png" alt="facebook" class="redessociales" /></a>
    <a href=""> <img src="../../../assets/Imagenes/LinkedIn.png" alt="linkedin" class="redessociales" /></a>
    <a href=""><img src="../../../assets/Imagenes/GitHub.png" alt="github" class="redessociales" /></a>
</div>

<div class="col-5">
  <button type="button" class="btn btn-outline-dark">Login</button>
</div>
