.redessociales {
    width: 19%;
    align-items: center;
    margin-right: 6%;
    margin-top: 3%;
}

.btn-outline-dark {
    border-width: medium;
    font-size: larger;
}

button{
    margin-left: 10%;
}


