<div class="row hys-degrade">
    <h2>Hard & Soft Skills</h2>
<div class="col-12">
 <circle-progress
  [percent]="55"
  [radius]="100"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="15"
  [outerStrokeColor]="'#D98A82'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  [responsive]="true"
  [showSubtitle]="true"
></circle-progress>
<circle-progress
  [percent]="55"
  [radius]="100"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="15"
  [outerStrokeColor]="'#D98A82'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
  [responsive]="true"
  [showSubtitle]="true"
></circle-progress>
</div>


</div>

