<div class="row">
    <h2>Experiencia Laboral </h2>
    <div class="col-10">
        <ul>
            <li> 
                <h3>Trabajo 1</h3> - <h4>Años</h4>
                <p></p>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui doloribus quibusdam similique, nobis quia alias dolorem delectus cumque voluptatum nihil rerum est eum soluta nam dignissimos rem sequi explicabo iste?</p>
            </li>
            <li> 
                <h3>Trabajo 2</h3> - <h4>Años</h4>
                <p></p>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui doloribus quibusdam similique, nobis quia alias dolorem delectus cumque voluptatum nihil rerum est eum soluta nam dignissimos rem sequi explicabo iste?</p>
            </li>
            <li> 
                <h3>Trabajo 3</h3> - <h4>Años</h4>
                <p></p>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui doloribus quibusdam similique, nobis quia alias dolorem delectus cumque voluptatum nihil rerum est eum soluta nam dignissimos rem sequi explicabo iste?</p>
            </li>
        </ul>

    </div>


</div>
