h3,h4 {
    display: inline;
    }

h3 {
    font-size: 1.1rem;
}

h4 { 
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    text-align: justify;
}
h2{
    padding: 7%;
    text-decoration: overline;
    color: #2C7F82;
    font-size: 1.2rem;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
}

.experiencia-degrade {
    background: linear-gradient(to bottom,#82d9ab, #95E8BB, #E8DDA0);
    
}
