<div class="row">
    <div class="col-12 col-lg-2">
        <img src="../../../assets/Imagenes/Cervone M.F..jpg" alt="Cervone" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-12 col-lg-3" id="nombreposicion">
        <h2 id="nombre">Cervone Maria Florencia</h2>
        <p id="stack"> Full Stack Developer Junior</p>
    </div>
    <div class="col-12 col-lg-7" id="acercademi"> 
        <span>
            <h3>Acerca de mi</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Ratione ipsam veniam rem alias velit. Quam sapiente consequatur est, modi omnis 
            molestias minima consectetur nesciunt cumque dolorem odio laborum repellat perferendis!</p>
        </span>
    </div>
   
</div>

